#root {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  padding: 2rem;
  text-align: center;
}

.temp-board {
  display: grid;
  grid-template-columns: repeat(10, 20px);
  grid-template-rows: repeat(10, 20px);
}

.temp-cell-check {
  border: 1px solid #eee;
  background-color: darkorchid;
}

.temp-cell-uncheck {
  border: 1px solid #eee;
}

.temp-cell-unknown {
  border: 1px solid #eee;
}

.temp-cell-unknown::before {
  content: '?';
}

.temp-wounded {
  background-color: firebrick;
}